/* -------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    /* align-items: top;
    justify-content: center; */
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

.zoneTexte {
    background: #f0f0df;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    vertical-align: top;
    /* float: center; */
}

.zoneTextePourArchive {
    background: #f0f0df;
    text-align: center;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    vertical-align: top;
    /* float: center; */
}

header {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(11, 102, 199);
}

summary {
    text-align: center;
}

    summary:hover {
        font-style: italic;
        opacity: 0.7;
    }

.page {
    align-items: top;
    /* vertical-align: top; */
    float: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    justify-content: space-around;
}

.link {
    color: rgb(11, 102, 199);
}

a {
    text-decoration: none;
}

    a:hover {
        font-style: italic;
        opacity: 0.7;
    }

@media (max-width: 1000px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    .page {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    body {
        font-size: 1em;
    }
    }


/* -------------------------------------------------- */
/* Menu --------------------------------------------- */


nav {
    align-items: center;
    float: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item_menu {
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(11, 102, 199);
    margin: 5px;
    justify-content: space-around;
    font-size: 1.1em;
    font-weight: 700;
}


/* -------------------------------------------------- */
/* Titres ------------------------------------------- */

.titre_site {
    /* font-family: 'Lobster'; */
    font-size: 3em;
    font-weight: 900;
    color: whitesmoke;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.titre_site_page {
    width: 40%;
    /* font-family: 'Lobster'; */
    font-size: 3em;
    font-weight: 800;
    color: whitesmoke;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.titre_page {
    width: 40%;
    /* font-family: 'Lobster'; */
    font-size: 3em;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}

h1 {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    text-align: center;
}

h2 {
    /* font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif; */
    text-align: center;
}

@media (max-width: 1000px) {
    .titre_site {
        font-size: 2em;
    }
    .titre_page {
        width: 95%;
        font-size: 2em;
    }
    .titre_site_page {
        width: 95%;
        font-size: 1.9em;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    }


/* -------------------------------------------------- */
/* Colonnes------------------------------------------ */

.colonnesDeux {
    width: 45%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.colonnesDeuxB {
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.colonnesTrois {
    width: 30%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.colonnes {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

@media (max-width: 1000px) {
    .colonnesDeux {
        width: 95%;
    }
    .colonnesTrois {
        width: 95%;
    }
    }


/* -------------------------------------------------- */
/* Documents ---------------------------------------- */

.docsLesDocs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.docDoc {
    color: white;
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(11, 102, 199);
    border-radius: 10px 10px 10px 10px;
    margin: 0px 10px;
    justify-content: space-around;
    white-space: nowrap;
}

    .docDoc:hover {
        font-style: italic;
        opacity: 0.7;
    }


.docDocArchive {
    color: rgb(11, 102, 199);
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    margin: 0px 10px;
    border-color: rgb(11, 102, 199);
    justify-content: space-around;
    white-space: nowrap;
}

    .docDocArchive:hover {
        font-style: italic;
        opacity: 0.7;
    }
