/* -------------------------------------------------- */

body {
    margin: auto;
    justify-content: center;
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

.zoneTexte {
    background: #f0f0df;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    float: center;
}

header {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(11, 102, 199);
}

summary {
    text-align: center;
}

    summary:hover {
        font-style: italic;
        opacity: 0.7;
    }

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

    a:hover {
        font-style: italic;
        opacity: 0.7;
    }

@media (max-width: 1000px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    .page {
        flex-direction: column;
        justify-content: center;
    }

    body {
        font-size: 1em;
    }
    }

/* -------------------------------------------------- */
/* Titres ------------------------------------------- */

.titre_site {
    font-family: 'Lobster';
    font-size: 4em;
    font-weight: 900;
    color: whitesmoke;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.titre_site_page {
    width: 40%;
    font-family: 'Lobster';
    font-size: 3em;
    font-weight: 800;
    color: whitesmoke;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.titre_page {
    width: 40%;
    font-family: 'Lobster';
    font-size: 3em;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}

@media (max-width: 1000px) {
    .titre_page {
        width: 95%;
    }
    .titre_site_page {
        width: 95%;
    }
    }


/* -------------------------------------------------- */
/* Colonnes------------------------------------------ */

.colonnesDeux {
    width: 45%;
    float: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.colonnes {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 1000px) {
    .colonnesDeux {
        width: 95%;
    }
    }

/* -------------------------------------------------- */
/* Titres ------------------------------------------- */


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


/* -------------------------------------------------- */
/* Documents ---------------------------------------- */

.docLesDocs {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.docDoc {
    color: white;
    text-align: center;
    padding: 5px;
    background-color: rgb(11, 102, 199);
    border-radius: 10px 10px 10px 10px;
    margin: 3px;
    justify-content: space-around;
}

    .docDoc:hover {
        font-style: italic;
        opacity: 0.7;
    }
